.Repas_Container {
  background-color: #f8e3bb;
  height: 125vh;
}

.Repas_Container > img {
  width: 25rem;
  margin-top: 2rem;
}

.Repas_Container > h1 {
  margin-top: -3rem;
  font-size: 2.2rem;
  text-align: center;
  color: #ffb52b;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.Repas_Container > div {
  text-align: center;
  background-color: #ffb52b;
  border-radius: 0.5rem;
  margin: 2rem 1rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.Repas_Container > div:hover {
  transform: scale(105%);
  background-color: #f8e3bb;
  transition: 0.3s ease;
}

.Repas_Container > div > a > h2 {
  font-size: 1.8rem;
  color: black;
}
