.Exercices_Container {
  background-color: #f8e3bb;
  padding: 7rem 0rem 5rem 0rem;
}

.Exercices_Windows {
  align-items: center;
  text-align: center;
  background-color: #ffb52b;
  margin: 0rem 0.5rem 1.5rem 0.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.Exercices_Windows > div > h3 {
  padding-top: 0.5rem;
}

.Exercices_Content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem 0rem;
}

.Exercices_Content > video {
  width: 10rem;
  height: 8rem;
  border-radius: 1rem;
}

.Exercices_Content > video > source {
  object-fit: contain;
}

.Exercices_Equipments > p:first-child {
  margin-bottom: 0.3rem;
}

.Exercices_Button {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.Exercices_Button > button,
.Exercices_Button > a > button {
  width: 10rem;
  height: 2.4rem;
  font-size: 1rem;
  border: none;
  background-color: #f8e3bb;
  border-radius: 0.6rem;
}

.Exercices_Button > button:hover,
.Exercices_Button > a > button:hover {
  transition: 0.3s ease;
  transform: scale(110%);
  box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.25);
}
